{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 100,
  "plugins": ["prettier-plugin-jsdoc"],
  "overrides": [
    {
      "files": "DataTypes.ts",
      "options": {
        "printWidth": 250
      }
    }
  ]
}
